#interval_ui {
  margin-top: 20px;
  margin-bottom: 20px;
}

#side_panel {
  width: 270px;
}

#legend {
  height: 400px;
  overflow-y: auto;
}

h2 {
	font-family: Franklin Gothic Medium, UnDotum, Helvetica, Arial;
	font-weight: normal;
	font-size: 14px;
}
