<ul class="prefix-ui-list">
  {{#each prefixes}}
    <li>
      <span>{{prefix}}</span>
      <button class="prefix-ui-remove" data-prefix="{{prefix}}">
          Remove
      </button>
    </li>
  {{/each}}
</ul>
